.recipe-container
  %h1 レシピ編集
  .recipe-form
    = form_with model: @recipe do |form|
      - @recipe.errors.full_messages.each do |message|
        = message
      = form.label :photo, "イメージ画像"
      = form.file_field :photo
      = form.label :title, "タイトル"
      = form.text_field :title, required: true
      = form.label :material, "必要な具材"
      = form.text_area :material, required: true
      = form.label :process, "料理手順"
      = form.text_area :process, required: true
      = form.label :cooking_minute, "料理にかかる時間（分）"
      .cooking-time
        = form.number_field :cooking_minute
        分
      = form.submit "登録する"