.recipe-container
  - @recipes.each do |recipe|
    %a.recipe-list-item(href = "recipes/#{recipe.id}")
      .image-div
        = image_tag recipe.photo.url
      .text-div
        %h2
          = recipe.title          
        %p
          = "作成者：#{recipe.user.name}"
          %br
          = "投稿日：#{l recipe.created_at}"
  = link_to 'レシピ追加', new_recipe_path