.recipe-container
  = form_with(url: root_path, method: :get, class: "search-form") do |form|
    = form.text_field :keyword, class: "search-input"
    = form.submit "検索", class: "search-btn", name: nil
  .search-result-title
    = "#{params[:keyword]} の検索結果" if params[:keyword]
  - @recipes.each do |recipe|
    .recipe-list-item
      .image-div
        = image_tag recipe.photo.url
      .text-div
        .recipe-title
          = link_to recipe.title, recipe_path(recipe.id)
        .recipe-user-name
          = "作成者：#{recipe.user.name}"
        .recipe-lower-div
          .created-at
            = "投稿日：#{l recipe.created_at}"
          .link-to-edit
            - if user_signed_in?
              - if recipe.user == current_user
                = link_to "編集する", edit_recipe_path(recipe.id)