.recipe-container
  - @recipes.each do |recipe|
    .recipe-list-item
      .image-div
        = image_tag recipe.photo.url
      .text-div
        .recipe-title
          = link_to recipe.title, "recipes/#{recipe.id}"      
        .recipe-user-name
          = "作成者：#{recipe.user.name}"
        .recipe-lower-div
          .created-at
            = "投稿日：#{l recipe.created_at}"
          .link-to-edit
            - if user_signed_in?
              - if recipe.user.id == current_user.id
                = link_to '編集する', "recipes/#{recipe.id}/edit"      
  = link_to 'レシピ追加', new_recipe_path