%h1 レシピ新規作成
= form_with model: @recipe do |form|
  %p
    = form.label :photo, "イメージ画像"
    = form.file_field :photo
  %p
    = form.label :title, "タイトル"
    = form.text_field :title, required: true
  %p
    = form.label :material, "必要な具材"
    = form.text_area :material, required: true
  %p
    = form.label :process, "料理手順"
    = form.text_area :process, required: true
  %p
    = form.label :cooking_minute, "料理にかかる時間（分）"
    = form.number_field :cooking_minute
  %p
    = form.submit "送信"
= link_to '戻る', root_path