.recipe-container
  %h1 レシピ新規作成
  = form_with model: @recipe do |form|
    = form.label :photo, "イメージ画像"
    = form.file_field :photo
    = form.label :title, "タイトル"
    = form.text_field :title, required: true
    = form.label :material, "必要な具材"
    = form.text_area :material, required: true
    = form.label :process, "料理手順"
    = form.text_area :process, required: true
    = form.label :cooking_minute, "料理にかかる時間（分）"
    .flexbox
      = form.number_field :cooking_minute
      分
    = form.submit "登録する"

  = link_to '戻る', root_path