.recipe-detail-container
  .upper-container
    .title
      = @recipe.title
    .cooking-time
      = "料理時間　#{@recipe.cooking_minute}分"
  .username
    = "作成者：#{@recipe.user.name}"
  .photo
    = image_tag @recipe.photo.url, size: "900x600"
  .itemname
    必要な具材
  .item
    = simple_format(@recipe.material)
  .itemname
    料理手順
  .item
    = simple_format(@recipe.process)
  - if user_signed_in?
    = render "favorites/favorite", recipe: @recipe, liked: @recipe.favorited_by?(current_user)
    - if @recipe.user.id == current_user.id
      .delete
        = link_to "レシピを削除する", recipe_path(@recipe.id), data: { turbo_method: :delete, turbo_confirm: "レシピを削除しますか？" }