!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsSample
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header
      .header-logo
        = link_to 'Your Recipes', root_path
      .header-menus
        %ul
          %li
            = link_to '新規会員登録', new_user_registration_path
          %li
            = link_to 'ログイン', new_user_session_path
          %li
            = link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }
    %p.notice
      = notice
    %p.alert
      = alert
    = yield
